@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Meow+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lusitana', sans-serif;
    font-weight: 400;
    color: white;
}

section {
    height: 1000px;
}

/* Header and Navigation*/

#header {
    height: 75px;
    background: url('../images/header-2160-150.png') no-repeat center center;
}

h1 {
    font-family: 'Meow Script', serif;
    font-weight: 530px;
    font-size: 380%;
    letter-spacing: 3px;
    color: white;
    float: left;
    line-height: 75px;
    margin-left: 30px;

}

#menu {
    font-size: 100%;
    letter-spacing: 2.5px;
    float: right;
    line-height: 75px;
    font-size: 200%;
    margin-right: 20px;
    margin-left: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit
}

.active {
    border-bottom: 2px solid white;
}

#menu a:hover {
    border-bottom: 2px solid white;
}

#menu li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}

/* Main content */

.background-image {
    position: relative;
}

#hero {
    background: url('../images/hero-2160.png') no-repeat center center;
}

#safe-haven {
    background: url('../images/safe-haven-2160.jpg') no-repeat center center;
}

#place-to-play {
    background: url('../images/place-to-play-2160.jpg') no-repeat center center;
}

#playground {
    background: url('../images/playground-2160.jpg') no-repeat center center;
}

#out-and-about {
    background: url('../images/out-and-about-2160.jpg') no-repeat left center;
}

.overlay {
    position: relative;
    width: 750px;
    height: 300px;
    top: 30%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 55px;
}

.overlay-left {
    float: left;
    left: 80px;
}

.overlay-right {
    float: right;
    right: 80px;
}

.overlay>h2 {
    text-align: center;
    padding: 20px;
    font-size: 350%;
}

.overlay>p {
    text-align: center;
    font-size: 200%;
    padding: 0 30px;
}

.auto-scroll-button {
    position: absolute;
    /* transform: translateX(-50%); */
    left: 20px;
    line-height: 40px;
    top: 33%
}

.auto-scroll-button a {
    text-decoration: none;
    color: inherit;
}


/* Get in Touch page */
#get-in-touch {
    position: relative;
    background-color: white;
    background: url('../images/contact-1080.png') no-repeat top left;
    height: 1620px;
}

.get-in-touch-overlay {
    position: relative;
    /* background: rgba(0, 0, 0, 0.2); */
    color: black;
    float: right;
    height: 1620px;
    width: 750px;
}

#get-in-touch > div > p {
    /* text-align: center; */
    padding: 40px;
    font-size: 150%;
}

/* Media Queries */

/* For larger to medium screens size from 1200px wide and down*/

@media screen and (max-width: 1200px) {

    #header {
        height: 150px;
    }

    #menu {
        float: left;
        margin-left: 30px;
        line-height: 40px;
    }

    .overlay-right {
        float: left;
        left: 80px;
    }

    .overlay {
        top: 60%;
    }
}

@media screen and (max-width: 900px) {

    h1 {
        font-size: 380%;    
    }
    
    #menu {
        font-size: 100%;
        letter-spacing: 1px;
        float: left;
        margin-left: 30px;
        line-height: 40px;
        font-size: 200%;
    }

    #header {
        height: 150px;
    }

    #menu {
        float: left;
        margin-left: 30px;
        line-height: 40px;
    }

    .overlay-right {
        float: left;
        left: 80px;
    }

    .overlay {
        top: 60%;
    }

    .overlay {
        width: 550px;
        height: 350px;
        top: 60%;
    }
    
    .overlay-left {
        float: left;
        left: 80px;
    }
    
    .overlay>h2 {
        font-size: 300%;
    }
    
    .overlay>p {
        font-size: 180%;
    }
}
