/*
sky-blue: #3567BB
darker blue: #19366d
*/

@import url(https://fonts.googleapis.com/css2?family=Lusitana&family=Meow+Script&display=swap);

/* General Styling */

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* Font and Font color */

body {
    font-family: 'Lusitana', sans-serif;
    font-weight: 400;
    color: #fff
}

/* Header, Navigation & Logo */

#header {
    height: 20vw;
    background: #3567BB
}

h1 {
    font-family: 'Meow Script', serif;
    font-size: 10vw;
    letter-spacing: 1px;
    color: #fff;
    float: left;
    line-height: 15vw;
    margin-left: 5px
}

#menu {
    letter-spacing: 1px;
    float: left;
    line-height: 2vw;
    font-size: 5vw;
    margin-right: 5px;
    margin-left: 10px
}

#menu a {
    text-decoration: none;
    color: inherit
}

.active {
    border-bottom: 2px solid #fff
}

#menu a:hover {
    border-bottom: 2px solid #fff
}

#menu li {
    list-style-type: none;
    display: inline;
    margin-right: 5px
}

/* Home page content */

section.background-image {
    height: 720px
}

.background-image {
    position: relative
}

#hero {
    background: url(../images/hero-mobile.jpg) no-repeat center center
}

#safe-haven {
    background: url(../images/safe-haven-mobile.jpg) no-repeat center center
}

#place-to-play {
    background: url(../images/puppenecke-mobile.jpg) no-repeat center center
}

#playground {
    background: url(../images/playground-mobile.jpg) no-repeat center center
}

#out-and-about {
    background: url(../images/out-and-about-mobile.jpg) no-repeat center center
}

.overlay {
    position: relative;
    width: 80%;
    height: 65vw;
    background: rgba(0, 0, 0, .65);
    border-radius: 55px;
    padding: 3vw 0 3vw 0
}

.overlay>h2 {
    text-align: center;
    padding: 0 2vw 1vw 2vw;
    font-size: 7.5vw
}

.overlay>p {
    text-align: center;
    font-size: 4.7vw;
    padding: 0 5vw
}

.overlay-position-hero {
    top: 370px;
    left: 15vw
}

.overlay-position-safe-haven {
    top: 370px;
    left: 15vw
}

.overlay-position-place-to-play {
    top: 370px;
    left: 15vw
}

.overlay-position-playground {
    top: 370px;
    left: 15vw
}

.overlay-position-out-and-about {
    top: 370px;
    left: 15vw
}

.auto-scroll-button {
    position: absolute;
    left: 20px;
    line-height: 40px;
    top: 33%
}

.auto-scroll-button a {
    text-decoration: none;
    color: inherit
}

.auto-scroll-button > p:hover {
    color: rgba(255, 255, 255, 0.5);
}

/* Footer */

#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #19366d;
    height: 50px;
    color: white;
    font-size: 1.5rem;
}

#footer a {
    text-decoration: none;
    color: inherit
}
/* Team Page*/

.team-member-container {
    background: linear-gradient(180deg, #3567BB 0%, #19366d 100%);
}

.background-gradient-dark-to-light {
    background: linear-gradient(180deg, #19366d 0%, #3567BB 100%);
}

.background-gradient-light-to-dark {
    background: linear-gradient(180deg, #3567BB 0%, #19366d 100%);
}

#team-overview-below-1200px-width {
    height: auto;
}

#team-overview-1200px-and-above {
    height: 0;
    padding: 0;
    margin: 0;
    display: none;
}

.team-member-image-outer {
    width: 100%;
    height: 50%;
}

.team-member-image {
    width: 100vw;
    padding: 5vw 10vw 0 10vw;
}

.team-member-text {
    top: 60vw;
    padding: 0 5vw
}

.team-member-name {
    font-size: 5vw;
    font-weight: 700;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
}

.team-member-description {
    font-size: 5vw;
    padding-bottom: 10px
}

/* Stories Page */

#blog {
    background: linear-gradient(180deg, #3567BB 0%, #19366d 100%);
    padding-bottom: 10px;
}

.blog-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-header>p {
    padding-left: 10px
}

.author-and-date {
    display: flex;
    text-align: center;
}

.author-and-date * {
    font-size: 12px;
}

.blog-heading {
    font-size: 5vw;
    text-align: center
}

.blog-date {
    margin-left: 5px
}

.blog-entry {
    border: 1px solid white;
    margin: 0 2px 10px 2px;
    padding: 1vw;
}

.pic-left {
    flex-direction: row-reverse;
}

.blog-body {
    padding: 10px
}

.blog-photos {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-photos img {
    width: 100%;
}

/* Get in Touch Page */

table {
    border-collapse: collapse;
}

#contact-page-container {
    display: flex;
    justify-content: space-evenly;
}

#photo-column {
    display: none;
}

#form-column {
    background: linear-gradient(180deg, #3567BB 0%, #19366d 100%);
    padding-left: 1vw;
    padding-right: 1vw;
}

#form-column * {
    font-size: 4vw;
}

#form-column input {
    width: 96vw;
    border-radius: 10px;
    text-indent: 5px;
    height: 5vw;
}

#form-column textarea {
    width: 96vw;
    border-radius: 10px;
    text-indent: 5px;
    height: 20vw;
    padding: 10px 5px;
}

#form-column p {
    margin-left: 1vw;
    padding-left: 1px;
}

div#info {
    margin-left: 1vw;
    padding: 2vw 0;
    font-size: 4.5vw
}

div#info > ul {
    list-style-type: none;
}

input#message {
    height: 20vh;
}

/* Media Queries */

/* Small Devices (portrait phones, 540px and up */

@media screen and (min-width:540px) {

    /* Header, Navigation & Logo */

    h1 {
        font-family: 'Meow Script', serif;
        font-size: 10vw;
        letter-spacing: 1px;
        color: #fff;
        float: left;
        line-height: 15vw;
        margin-left: 5px
    }

    #menu {
        letter-spacing: 1px;
        float: left;
        line-height: 2vw;
        font-size: 5vw;
        margin-right: 20px;
    }

    #menu a:hover {
        border-bottom: 1px solid #fff
    }

    #menu li {
        list-style-type: none;
        display: inline;
        margin-right: 24px
    }

    /* Home page content */

    section.background-image {
        height: 720px
    }

    #hero {
        background: url(../images/hero-1200.jpg) no-repeat center center
    }

    #safe-haven {
        background: url(../images/safe-haven-1200.jpg) no-repeat center center
    }

    #place-to-play {
        background: url(../images/place-to-play-1200.jpg) no-repeat center center
    }

    #playground {
        background: url(../images/playground-1200.jpg) no-repeat center center
    }

    #out-and-about {
        background: url(../images/out-and-about-1200.jpg) no-repeat center center
    }

    .overlay {
        position: relative;
        width: 80%;
        height: 280px;
        border-radius: 55px
    }

    .overlay>h2 {
        text-align: center;
        padding: 0 2vw;
        font-size: 250%
    }

    .overlay>p {
        text-align: center;
        font-size: 150%;
        padding: 0 2vw
    }

    /* Footer */

    #footer {
        font-size: 30px
    }

    /* Team Page*/

    .team-member-container {
        display: inline-flex;
    }

    .team-member-image-outer {
        order: 1;
        width: 100%;
        height: 50%;
    }

    .team-member-image {
        width: 40vw;
        padding: 7vw 3vw 0 3vw;
    }

    .team-member-text {
        order: 2;
        top: 60vw;
        padding: 0 5vw
    }

    .team-member-text-left {
        order: 0
    }

    .team-member-name {
        font-size: 5vw;
        font-weight: 700;
        padding-top: 5vw;
        padding-bottom: 0;
        text-align: left;
    }

    .team-member-description {
        font-size: 3vw
    }

    /* Stories page */

    .blog-heading {
        font-size: 30px
    }

    .author-and-date * {
        font-size: 18px
    }

    .blog-body {
        font-size: 20px
    }

    /* Get in Touch page*/

    #form-column * {
        font-size: 3vw;
    }

    div#info {
        font-size: 3.5vw
    }

    #form-column input {
        height: 4vw;
    }
}

/* Medium Devices (tablets, 768px and up */

@media screen and (min-width:768px) {
    #header {
        height: 150px;
    }

    h1 {
        font-family: 'Meow Script', serif;
        font-size: 380%;
        letter-spacing: 3px;
        color: #fff;
        float: left;
        line-height: 75px;
        margin-left: 5px
    }

    #menu {
        letter-spacing: 2.5px;
        float: left;
        line-height: 35px;
        font-size: 200%;
        margin-right: 5px;
        margin-left: 10px
    }

    #menu li {
        margin-right: 3rem;
    }

    .overlay {
        position: relative;
        width: 80%;
        height: 230px;
        border-radius: 55px;
        padding: 10px 0 10px 0
    }

    .overlay>h2 {
        text-align: center;
        padding: 0 2vw;
        font-size: 250%
    }

    .overlay>p {
        text-align: center;
        font-size: 150%;
        padding: 0 2vw
    }

    .overlay-position-hero {
        top: 450px;
        left: 15vw
    }

    .overlay-position-safe-haven {
        top: 450px;
        left: 15vw
    }

    .overlay-position-place-to-play {
        top: 450px;
        left: 15vw
    }

    .overlay-position-playground {
        top: 450px;
        left: 15vw
    }

    .overlay-position-out-and-about {
        top: 450px;
        left: 15vw
    }

    /* Team Page*/

    .team-member-image {
        padding-top: 3vw;
        width: 400px;
    }

    .team-member-name {
        padding-top: 3vw;
        font-size: 260%;
    }

    .team-member-description {
        padding-top: 3vw;
        font-size: 150%;
    }

    /* Stories page*/

    .blog-entry {
        display: flex;
    }

    .blog-text {
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blog-photos {
        width: 50vw;
    }

    /* Get in Touch page*/

    #photo-column {
        display: flex;
        height: auto;
        width: 50vw;
    }

    #photo-column > img {
        width: 50vw;
    }

    #form-column {
        vertical-align: top;
    }

    #form-column * {
        font-size: 2vw;
    }

    div#info {
        font-size: 2.5vw
    }

    #form-column input {
        width: 46vw;
        height: 3vw;
    }

    #form-column textarea {
        width: 46vw;
    }

    #name {
        display: flex;
    }

    #name input {
        width: 20vw;
    }
}

/* X-Large Devices (large desktops, 1200px and up */

@media screen and (min-width:1200px) {
    #header {
        height: 75px;
    }

    h1 {
        font-family: 'Meow Script', serif;
        font-size: 380%;
        letter-spacing: 3px;
        color: #fff;
        float: left;
        line-height: 75px;
        margin-left: 40px
    }

    #menu {
        letter-spacing: 2.5px;
        float: right;
        line-height: 75px;
        font-size: 180%;
        margin-right: 20px;
        margin-left: 20px
    }

    #menu a {
        text-decoration: none;
        color: inherit
    }

    .active {
        border-bottom: 2px solid #fff
    }

    #menu a:hover {
        border-bottom: 2px solid #fff
    }

    #menu li {
        list-style-type: none;
        display: inline;
        margin-right: 20px
    }

    section.background-image {
        height: 1000px
    }

    .background-image {
        position: relative
    }

    #hero {
        background: url(../images/hero-2160.png) no-repeat center center
    }

    #safe-haven {
        background: url(../images/safe-haven-2160.jpg) no-repeat center center
    }

    #place-to-play {
        background: url(../images/place-to-play-2160.jpg) no-repeat center center
    }

    #playground {
        background: url(../images/playground-2160.jpg) no-repeat center center
    }

    #out-and-about {
        background: url(../images/out-and-about-2160.jpg) no-repeat center center
    }

    .overlay {
        position: relative;
        width: 42%;
        height: 250px;
        border-radius: 55px;
        padding: 10px 0 10px 0
    }

    .overlay>h2 {
        text-align: center;
        padding: 0 2vw;
        font-size: 250%
    }

    .overlay>p {
        text-align: center;
        font-size: 150%;
        padding: 0 2vw
    }

    .overlay-position-hero {
        top: 300px;
        left: 10vw
    }

    .overlay-position-safe-haven {
        top: 350px;
        left: 50vw
    }

    .overlay-position-place-to-play {
        top: 150px;
        left: 10vw
    }

    .overlay-position-playground {
        top: 500px;
        left: 55vw
    }

    .overlay-position-out-and-about {
        top: 500px;
        left: 55vw
    }

    .auto-scroll-button {
        position: absolute;
        left: 20px;
        line-height: 40px;
        top: 33%
    }

    .auto-scroll-button a {
        text-decoration: none;
        color: inherit
    }

    /* Team Page*/

    #team-overview-below-1200px-width {
        display: none;
        height: 0;
        padding: 0;
        margin: 0;
    }

    #team-overview-1200px-and-above {
        height: 85vh;
        display: flex;
        background: linear-gradient(180deg, #3567BB 0%, #19366d 100%);
    }

    #image-shelf-top {
        display: flex;
        justify-content: space-evenly;
        width: 100vw;
        padding: 5vh 0 5vh;
        transform: translate(-44px, 0px);
    }

    .team-member {
        display: inline-block;
        width: 200px;
    }

    .team-member:hover img {
        outline: 10px solid white;
        border-radius: 50%;
    }

    .team-member-description-reveal-on-hover {
        display: block;
        visibility: hidden;
        position: absolute;
        font-size: 200%;
        font-weight: 500;
        left: 1vw;
        top: 410px;
        padding: 0 100px;
    }

    .team-member:hover .team-member-description-reveal-on-hover {
        visibility: visible;
    }

    #team-member-description-box {
        position: absolute;
        left: 1vw;
        top: 460px;
        margin: 0 auto;
        width: 98vw;
        height: 220px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 55px;
        border: 2px solid white;
    }

    .team-member-image {
        padding: 0;
        width: 285px;
    }

    .team-member-name {
        padding-top: 5px;
        font-size: 26px;
        text-align: center;
        width: 285px;
    }

    #user_instructions {
        display: block;
        text-align: center;
        left: 767px;
        padding-top: 93px;
        font-size: 2vw;
        animation-name: fade-away;
        animation-duration: 5s;
        animation-fill-mode: forwards;
    }

    @keyframes fade-away {
        from {color: white;}
        to {color:rgba(0, 0, 0, 0)}
    }

    /* Stories page*/

    .blog-entry {
        justify-content: space-evenly;
    }

    .blog-photos {
        display: block;
        line-height: 0;
        column-gap: 0;
        column-count: 2;
        margin: 0 auto;
    }

    .blog-photos {
        width: 50%;
    }

    .blog-photos img {
        width: auto;
    }

    /* Get in Touch page */

    #form-column * {
        font-size: 20px;
    }

    div#info {
        font-size: 25px
    }

    #form-column input {
        height: 28px;
    }

}

 /* XX-Large Devices (large desktops, 1400px and up */

 @media screen and (min-width:1400px) {
    #image-shelf-top {
        padding: 15vh 0 5vh;
    }

    .team-member-description-reveal-on-hover {
        top: 540px;
    }

    #team-member-description-box {
        top: 560px;
    }
}